
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px solid red;
}

body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.img-portada {
    width: 200px;
    box-shadow: 3px 3px 19px #000000;
    transform: rotate(10deg);
    margin-bottom: 50px;
}

.div-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1 {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 100;
    font-style: normal;
}

.txt {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0);
    padding: 30px;
}

h3 {
    text-align: center;
    font-family: "ariel Cursive", cursive;
    font-weight: 100;
    font-style: normal;
}

.v {
    width: 100%;
    height: auto;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 100px;
}

h2 {
    margin: 0px;
    text-align: center;
    font-family: "ariel Cursive", cursive;
    font-weight: 100;
    font-style: normal;
}

p {
    font-size: 10px;
    text-align: center;
    padding: 20px;
}

.l {
    width: 90%;
    height: 60px;
    background-color: rgb(192, 192, 192);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px 0px;
    border-radius: 15px;

}

.img-op {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 10px 5px #000;
    box-shadow: 2px 1px 18px 0px #000;
}

.bt-1 {
    width: 240px;
    height: 30px;
    border: none;
    background-color: transparent;

}

.diapo {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgba(4, 0, 255, 0);
}

@media (min-width: 600px) {
    .div-1 {
        width: 500px;
        background-color: rgba(255, 0, 0, 0);
    }

    .diapo {
        width: 500px;
        background-color: rgba(255, 0, 0, 0);
    }

    .d-div {
        width: auto;
        display: flex;
        justify-content: center;
    }

    .txt {
        width: 500px;
    }

    h4 {
        font-size: 30px;
    }

    .v {
        width: 700px;
    }
}

.df1 {
    width: 70%;
    margin-top: 50px;
    height: auto;
    transform: rotate(-10deg);
    box-shadow: 3px 3px 19px #000000;
    margin-bottom: 10px;
}

.df2 {
    width: 70%;
    margin-top: 50px;
    height: auto;
    transform: rotate(10deg);
    box-shadow: 3px 3px 19px #000000;

}

.d1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    background: #00000000;
    margin: 10px 0px;
}



/*BOTON APK*/
.apk {
    width: auto;
    height: 300px;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;

}

.btapk {
    width: 200px;
    height: 45px;
    background-color: #ec1fff;
    color: #fff;
    border: none;
    border-radius: 10px;
}
.com{
    width: 30px;
    height: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}